<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid px-4">
    <a class="navbar-brand" [routerLink]="['/']">Open Jam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/about-me']" [routerLinkActive]="['active']">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/portfolio-projects']" [routerLinkActive]="['active']">Portfolios</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/blog']" [routerLinkActive]="['active']">Blog</a> -->
        </li>

        @if (authService.isWriter()) {
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['admin', 'portfolios']">作品集</a></li>
                <li><a class="dropdown-item" [routerLink]="['admin', 'technologys']">技術</a></li>
              </ul>
          </li>
        }

      </ul>

    </div>
  </div>
</nav>